/* Global Settings */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: black;
    color: white;
}

.game-title
{
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.hangman, .letters
{
    height: 400px;
    width: 500px;
}

.letters
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.div-letter
{
    color: white;
    background: rgba(0, 0, 0, 0.2);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 2px solid white;
    user-select: none;
}

.div-letter:hover
{
    background: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.password
{
    text-align: center;
    font-size: 34px;
    font-family: consolas;
    letter-spacing: 4px;
    margin-bottom: 50px;
    line-height: 2;
    display: flex;
    justify-content: center;
    padding: 0px 30px;
    user-select: none;
}

.result
{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.reset-the-game, .start-the-game
{
    color: white;
    background: gray;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
    display: block;
    margin: 40px auto 10px auto;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.reset-the-game:hover, .start-the-game:hover
{
    transform: scale(1.2);
}

.set-word
{
    font-size: 20px;
    color: gray;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    background: none;
    width: 80%;
    padding-bottom: 4px;
    margin-top: 20px;
}

.set-word-box
{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.start-the-game
{
    margin: 30px auto;
}

.show-results, .hide-results
{
    background: gray;
    border-radius: 8px;
    padding: 4px 8px;
    color: white;
    position: absolute;
    right: 10px;
    top: 24px;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: none;
    outline: none;
}

.hide-results
{
    display: none;
}

.hide-results.active
{
    z-index: 2;
    display: block;
}

.show-results:hover
{
    filter: brightness(1.2);
}

.show-results-span
{
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    background: gray;
    opacity: 95%;
    animation: slideUp 1s; 
    border-radius: 0 0 100% 100%;
    display: block;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.show-results-span.active
{
    transform: translateY(-100%);
}

@keyframes slideUp
{
    0%
    {
        transform: translateY(-100%);
        opacity: 0%;
    }
    100%
    {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.show-results-span-content
{
    display: flex;
}

.show-results-span-won
{
    color: rgb(2, 121, 2);
}

.show-results-span-lost
{
    color: rgb(179, 0, 0);
}

.show-results-span-lost, .show-results-span-won, .show-results-span-title
{
    font-size: 24px;
    margin: 5px;
    text-align: center;
}